%wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}

.header__wrapper {
  margin-bottom: 15px;
  @extend %wrapper;
}

.title__wrapper {
  @extend %wrapper;
}

.title {
  font-weight: bold;
}

.guide__wrapper {
  display: flex;
  gap: 10px;
}

.guide__img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 100% 100%;
}

.guide__joying {
  color: #7783fa;
  font-size: 16px;
  text-transform: none;
}