$btnColor: #7782d7;

.btns__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

@media screen and (max-width: 500px) {
  .bnts__group {
    flex-direction: column;
  }
}

.btns {
  box-shadow: 4px 4px 8px 5px #faf7f7;
}

.btn {
  display: flex;
  align-items: center;
  padding: 20px 70px;
  text-transform: none;
}

.btn__text {
  color: $btnColor;
  font-size: 18px;
}

.btn__icon {
  color: $btnColor;
}