.app__wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.inf__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}

.app__title {
  font-weight: bold;
}