.country__wrapper {
  display: flex;
  justify-content: space-evenly;
}

.counrty__img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 140px;
  height: 110px;
  padding: 15px 0px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 100% 100%;
  border-radius: 5px;
}

.coutry__name {
  padding: 5px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
}