.popular__wrapper {
  display: flex;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 5px #faf7f7;
}

.popular__img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 100% 100%;
}

.sight__inf {
  padding: 20px;
}

.sight__name {
  font-size: 18px;
  font-weight: bold;
}

.sight__tag {
  color: #808080;
  font-size: 16px;
}

.sight__price {
  margin-right: 20px;
  color: #e466a1;
  font-size: 25px;
}

.sight__distance {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}