.modal__invisible {
  position: absolute;
  z-index: 100;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.modal__visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  text-align: center;
  padding: 25px;
  border-radius: 25px;
  min-width: 250px;
}