.guides__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-weight: bold;
}

.guide__wrapper {
  display: flex;
  gap: 10px;
}

.guide__img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 100% 100%;
}