%backimg {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 100% 100%;
  cursor: pointer;
}

%wrapper {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 510px) {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.column {
  flex-direction: column;
}


.sights__wrapper {
  @extend %wrapper;
}

.sight__wrapper {
  @extend %wrapper;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sight__first {
  width: 245px;
  height: 245px;
  @extend %backimg;
}

.sight__second {
  width: 220px;
  height: 125px;
  @extend %backimg;
}

.sight__third {
  width: 100px;
  height: 110px;
  @extend %backimg;
}

.sight__amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 110px;
  background-color: #7783fa;
  border-radius: 5px;
  cursor: pointer;
}

.amount__text {
  color: #fff;
  font-weight: bold;
}