.controls__wrapper {
  display: flex;
  flex-direction: column;
}

.image__upload {
  align-self: center;
}

.select__delete {
  align-self: center;
  color: rgba(75, 79, 79, 0.5);
  cursor: pointer;
  transition: 1s;

  &:hover {
    color: rgb(0, 0, 0);
  }
}