.user__wrapper {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin: 20px;
  padding: 10px 0px;
  box-shadow: 4px 4px 8px 5px #faf7f7;

  @media screen and (max-width: 470px) {
    flex-direction: column;
  }
}

.user__information {
  display: flex;
  gap: 15px;

  @media screen and (max-width: 470px) {
    flex-direction: column;
  }
}

.user__controls {
  display: flex;
  gap: 15px;
}

.user__img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 100% 100%;
}

.language__selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}