%backimg {
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 100% 100%;
}

.guide__wrapper {
  display: flex;
  gap: 10px;
  padding: 0px 20px 0px 0px;
}

.guide__img {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  transition: transform 0.3s ease, border 0.3s ease;
  @extend %backimg;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.recommends__img {
  position: relative;
  height: 190px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 5px #faf7f7;
  cursor: pointer;
  @extend %backimg;
}

.recommends__data {
  color: #808080;
  font-size: 14px;
  padding: 5px 20px 0px 20px;
}

.recommends__name {
  padding: 0px 20px 5px 20px;
  color: #000;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}

.inf__wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    padding-bottom: 5px;
  }
}