.recovery__wrapper {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
}

.btns__wrapper {
  display: flex;
  gap: 15px;
  margin: 15px 0px;
}

.inputs__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}