.loading {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
